---
title : Gallery
layout : tataletak.njk
---
    <div class="container">
        <div class="item"><img src="/assets/img/filerb.jpg" alt="" style="width: 100%; height: 100%;">
        </div>
        <div class="item"><img src="/assets/img/wave.jpeg" alt="" style="width: 100%; height: 100%;">
        </div>
        <div class="item"><img src="/assets/img/great.png" alt="" style="width: 100%; height: 100%;">
        </div>
    </div>