---
title : Profile
layout : tataletak.njk
nama : Rizki Bhaskara Mulya Efendi
nim: 14117084
---

<div class="card">
  <img src="/assets/img/profilerb.jpeg" alt="" style="width: 50%;">
  <h1>{{nama}}</h1>
  <p class="nim">{{nim}}</p>
  <p>Institut Teknologi Sumatera</p>
  <a href="https://github.com/rizkibhaskaraa" target="_blank"><i class="fa fa-github"></i>&nbsp&nbsp</a>
  <a href="https://twitter.com/bebasinbee" target="_blank"><i class="fa fa-twitter"></i>&nbsp&nbsp</a>
  <a href="https://linkedin.com/in/RizkiBhaskara" target="_blank"><i class="fa fa-linkedin"></i>&nbsp&nbsp</a>
   <div class="spasi">&nbsp</div>
</div>